$candy-grey: #D3D3D3;
$candy-grey-s: lighten($candy-grey, 10%);
$candy-grey-xs: lighten($candy-grey, 14%);

$candy-blue: #6AD1FF;
$candy-blue-s: lighten($candy-blue, 15%);
$candy-blue-xs: lighten($candy-blue, 26%);

$candy-selected: #2CBEFF;

$candy-anthracite: #555555;